mixin videoPlayer(video ={})
    .videoPlayer#jsVideoPlayer
        video(src=video.videoFile).smallScreen
        .videoPlayer_controls
            .videoPlayer_column
                input(type="range", min="0", max="1", step="0.1", value="0.5").videoPlayer__volume#jsVolume
                span#jsVolumeBtn
                    i.fas.fa-volume-up
                span
                    span#currentTime 00:00:00
                    |/
                    span#totalTime 00:00:00
            .videoPlayer_column
                span#jsPalyBtn
                    i.fas.fa-play
            .videoPlayer_column
                span#jsScreenBtn
                    i.fas.fa-expand